{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% import _self as helper %}

{% block toolbar %}
    {# menu pied de page du profiler #}
        <link rel="stylesheet" href="{{ asset('bundles/lusistrans/css/font-awesome.min.css') }}">
        {% set icon %}
            <i class="fa fa-universal-access" style="width: 20px; height: 20px; color: #aaa; font-size: 20px;"></i>
            {% set status_color = collector.countMissings ? 'red' : collector.countFallbacks ? 'yellow' %}
            {% set error_count = collector.countMissings + collector.countFallbacks %}
            <span class="sf-toolbar-value">{{ error_count ?: collector.countdefines }}</span>
        {% endset %}

        {% set text %}
            <div class="sf-toolbar-info-piece">
                <b>LUSIS TRANSLATE</b>
            </div>

            <div class="sf-toolbar-info-piece">
                <b>Missing messages</b>
                <span class="sf-toolbar-status sf-toolbar-status-{{ collector.countMissings ? 'red' }}">
                    {{ collector.countMissings }}
                </span>
            </div>

            <div class="sf-toolbar-info-piece">
                <b>Fallback messages</b>
                <span class="sf-toolbar-status sf-toolbar-status-{{ collector.countFallbacks ? 'red' }}">
                    {{ collector.countFallbacks }}
                </span>
            </div>

            <div class="sf-toolbar-info-piece">
                <b>Defined messages</b>
                <span class="sf-toolbar-status">
                    {{ collector.countDefines }}
                </span>
            </div>
        {% endset %}

        {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: profiler_url, status: status_color }) }}
{% endblock %}

{% block menu %}
    {# menu de gauche du profiler #}
    <link rel="stylesheet" href="{{ asset('bundles/lusistrans/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/lusistrans/css/lusis-bundle.css') }}">
    <span class="label label-status-{{ collector.countMissings ? 'error' : collector.countFallbacks ? 'warning' }} {{ collector.messages is empty ? 'disabled' }}">
    <span class="icon">
      <i class="fa fa-universal-access"></i>
    </span>
    <strong>Lusis Translate</strong>
        {% if collector.countMissings or collector.countFallbacks %}
            {% set error_count = collector.countMissings + collector.countFallbacks %}
            <span class="count">
                <span>{{ error_count }}</span>
            </span>
        {% endif %}
    </span>
{% endblock %}

{% block panel %}
    {# page du bundle dans le profiler #}
    {% if collector.messages is empty %}
        <h2>Lusis Translate</h2>
        <div class="empty">
            <p>No translations have been called.</p>
        </div>
    {% else %}
        {{ block('panelContent') }}
    {% endif %}
{% endblock %}

{% block panelContent %}
    <h2>Lusis Translation Metrics</h2>

    <div class="metrics">
        <div class="metric">
            <span class="value">{{ collector.countDefines }}</span>
            <span class="label">Defined messages</span>
        </div>

        <div class="metric">
            <span class="value">{{ collector.countFallbacks }}</span>
            <span class="label">Fallback messages</span>
        </div>

        <div class="metric">
            <span class="value">{{ collector.countMissings }}</span>
            <span class="label">Missing messages</span>
        </div>
    </div>

    <h2>Lusis Translation Messages</h2>

     {% set messages_defines, messages_missing, messages_fallback = [], [], [] %}
    {% for message in collector.messages %}
        {% if message.state == constant('Symfony\\Component\\Translation\\DataCollectorTranslator::MESSAGE_MISSING') %}
            {% set messages_missing = messages_missing|merge([message]) %}
        {% elseif message.state == constant('Symfony\\Component\\Translation\\DataCollectorTranslator::MESSAGE_EQUALS_FALLBACK') %}
            {% set messages_fallback = messages_fallback|merge([message]) %}
        {% elseif message.state == constant('Symfony\\Component\\Translation\\DataCollectorTranslator::MESSAGE_DEFINED') %}
            {% set messages_defines = messages_defines|merge([message]) %}
        {% endif %}
    {% endfor %}

    <div class="sf-tabs">
        <div class="tab">
            <h3 class="tab-title">Defined <span class="badge">{{ messages_defines|length }}</span></h3>

            <div class="tab-content">
                <p class="help">
                    These messages are correctly translated into the given locale.
                </p>

                {% if messages_defines is empty %}
                    <div class="empty">
                        <p>No defined translation messages were used.</p>
                    </div>
                {% else %}
                    <form method="post" action="{{ path('lusis_translation_validation', {'type' : 'defined'}) }}" class="lusis-trans-form" id="lusis-translate-defines-form">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('lusistranslationbundle') }}"/>
                        {{ helper.render_table(messages_defines) }}
                        <button type="submit">Submit</button>
                    </form>
                {% endif %}
            </div>
        </div>

        <div class="tab">
            <h3 class="tab-title">Fallback <span class="badge">{{ messages_fallback|length }}</span></h3>

            <div class="tab-content">
                <p class="help">
                    These messages are not available for the given locale
                    but Symfony found them in the fallback locale catalog.
                </p>

                {% if messages_fallback is empty %}
                    <div class="empty">
                        <p>No fallback translation messages were used.</p>
                    </div>
                {% else %}
                    <form method="post" action="{{ path('lusis_translation_validation', {'type' : 'fallback'}) }}" class="lusis-trans-form" id="lusis-translate-fallback-form">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('lusistranslationbundle') }}"/>
                        {{ helper.render_table(messages_fallback) }}
                        <button type="submit">Submit</button>
                    </form>
                {% endif %}
            </div>
        </div>

        <div class="tab">
            <h3 class="tab-title">Missing <span class="badge">{{ messages_missing|length }}</span></h3>

            <div class="tab-content">
                <p class="help">
                    These messages are not available for the given locale and cannot
                    be found in the fallback locales. Add them to the translation
                    catalogue to avoid Symfony outputting untranslated contents.
                </p>

                {% if messages_missing is empty %}
                    <div class="empty">
                        <p>There are no messages of this category.</p>
                    </div>
                {% else %}
                    <form method="post" action="{{ path('lusis_translation_validation', {'type' : 'missing'}) }}" class="lusis-trans-form" id="lusis-translate-missing-form">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('lusistranslationbundle') }}"/>
                        {{ helper.render_table(messages_missing) }}
                        <button type="submit">Submit</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
    {{ block('lusisJs') }}
{% endblock %}

{% macro render_table(messages) %}
    <table>
        <thead>
        <tr>
            <th>Locale</th>
            <th>Domain</th>
            <th>Times used</th>
            <th>Message ID</th>
            <th>Message Preview</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td class="font-normal text-small locale">{{ message.locale }}</td>
                <td class="font-normal text-small text-bold">{{ message.domain }}</td>
                <td class="font-normal text-small">{{ message.count }}</td>
                <td>
                    {{ message.id }}

                    {% if message.transChoiceNumber is not null %}
                        <small class="newline">(pluralization is used)</small>
                    {% endif %}

                    {% if message.parameters|length > 0 %}
                        <button class="btn-link newline text-small sf-toggle" data-toggle-selector="#parameters-{{ loop.index }}" data-toggle-alt-content="Hide parameters">Show parameters</button>

                        <div id="parameters-{{ loop.index }}" class="hidden">
                            {% for parameters in message.parameters %}
                                {{ profiler_dump(parameters) }}
                                {% if not loop.last %}<br />{% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </td>
                <td>{{ message.translation }}</td>
                <td><input type="text" name="data[{{ message.id }}]" placeholder="(re)define"/></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{%  block lusisJs %}
    <script src="{{ asset('bundles/lusistrans/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/lusistrans/js/lusis-bundle.js') }}"></script>
{% endblock %}